@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 16px;
}

body{
    background: black url("../imagens/fundo-madeira.jpg") no-repeat center top / cover fixed;
}

html, body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    
}

#phone{
    position:absolute;
    width: 331px;
    height: 627px;
    inset: 50%;
    transform: translate(-50%,-50%);
    background: transparent url("../imagens/frame-iphone.png") no-repeat left top  / contain;
}

iframe{
    position: absolute;
    width:270px;
    height: 472px;
    inset: 80px auto auto 20px;
}

#redes_sociais{
    width: 50px;
    margin-left: calc(100vw - 80px);
}

#redes_sociais a img{
    width: 50px;
    aspect-ratio: 1/1;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition-duration: .25s;
}

#redes_sociais a img:hover{
    transform: translate(-5px,-5px) rotate(-15deg) scale(1.1);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.7);
    border: 2px ridge white;
    
}